# cmake build files
/cmake/build
geminiWorkSpace
# Visual Studio Code artifacts
.vscode/*
.history/


# Clion artifacts
cmake-build-debug/


# vim temp files
.*.swp



*.o

# git patch files
*.patch

#cmake junk
cscope.*
TAGS
tags

# dont ignore gitignore
!.gitignore


# igore CMake artifects
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
./Makefile

build/
bin/

bin_auth/
bin_node/
bin_services/
bin_database/
bin_logsys/
bin_serverutils/
bin_sysmonitor/
bin_serverUtils/
bin_clientUtils/

protocol/libmylib.a
